.listem-none {
  list-style: none;
}


.z-index-10 {
  z-index: 10;
}


.line-height {
  line-height: 0.8
}

.border-top-custom {
  border-top: 1px solid #2e394a;
}

.container-custom {
  width: 85%;
}


.overflow-y-scroll {
  overflow-y: scroll;
}

.scroll-personal::-webkit-scrollbar {
  width: 10px;

}

.scroll-personal::-webkit-scrollbar-track {
  background: #C4C4C4;
  padding: 10px;
  /* color of the tracking area */
}

.scroll-personal::-webkit-scrollbar-thumb {
  background-color: #4361EE;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  // border: 3px solid orange;
  /* creates padding around scroll thumb */
}

.cursor-pointer {
  cursor: pointer;
}

// color

.color-green {
  color: #027e48;
}

.color-green-ligh {
  color: #00f188;
}

.color-violet {
  color: #4361EE;
}


// font-weight

.font-w-700 {
  font-weight: 700;
}

.fs-4-custom {
  font-size: 4.987em;
}

.fs-13 {
  font-size: 13px;
}




.font-w-500 {
  font-weight: 500;
}

// font-size

.fs-0-484 {
  font-size: 0.484em;
}

.fs-1411 {
  font-size: 2.5em;

  @media (min-width: $breakpoint-XX-Large) {
    font-size: 1.411em;

  }

}

.fs-119 {
  font-size: 1.5em;

  @media (min-width: $breakpoint-XX-Large) {
    font-size: 11.9px;
  }
}


.fs-1 {
  font-size: 1em;
}

.fs-0625 {
  font-size: 0.625em;
}

.fs-1029 {
  font-size: 2em;

  @media (min-width: $breakpoint-XX-Large) {
    font-size: 1.029em;
  }

}

.fs-1681 {
  font-size: 1.681em;
}

.fs-0938 {
  font-size: 0.938em;
}

.fs-1856 {
  font-size: 1.856em;
}

.fs-0611 {
  font-size: 0.611em;
}

.fs-1374 {
  font-size: 1.374em;
}


.fs-075 {
  font-size: 0.90em;
}

// width 
.w-13 {
  width: 13px;
}

.h-13 {
  height: 13px;
}

.w-32 {
  width: 32px;
}

.w-60pc {
  width: 100%;

  @media (min-width: $breakpoint-XX-Large) {
    width: 61%;
  }

}

.w-97pc {
  width: 95%;
}

.w-47 {
  width: 47px;
}

.w-72 {
  width: 72px;
}

.w-100-custom {
  width: 100%;

  @media (min-width: $breakpoint-XX-Large) {
    width: 214.33px;
  }

}

.w-full-custom {
  width: 100%;

  @media (min-width: $breakpoint-XX-Large) {
    width: auto;
  }

}

// height
.h-47 {
  height: 47px;
}

.h-32 {
  height: 32px;
}

.h-full {
  height: none;

  @media (min-width: $breakpoint-XX-Large) {
    height: 100%;
  }

}

.h-333 {
  height: 333px;
}

.h-209 {
  height: 209px;
}


// Background-color


.bg-blur {
  background: #0494D4;
}

.bg-violet-500 {
  background: #4361EE;
}

.bg-blur-900 {
  background: #E7EEFF;
}


// border-radius


.rounded-100 {
  border-radius: 100px;
}

.rounded-21 {
  border-radius: 21px;
}

.rounded-1375 {
  border-radius: 1.375rem;
}

// padding

.pe-12 {
  padding-left: 12px;
}