.h-full {
  height: 100%;
}

.listem-none {
  list-style: none;
}

.fs-1 {
  font-size: 1em;
}

.fs-0625 {
  font-size: 0.625em;
}

.z-index-10 {
  z-index: 10;
}

.border-top-custom {
  border-top: 1px solid #2e394a;
}

.container-custom {
  width: 90%;
}

.fs-4-custom {
  font-size: 4.987em;
}

.color-green {
  color: #027e48;
}

.color-green-ligh {
  color: #00f188;
}

.font-w-700 {
  font-weight: 700;
}

.fs-0-484 {
  font-size: 0.484em;
}
.fs-1411 {
  font-size: 1.411em;
}

.fs-1029 {
  font-size: 1.029em;
}
