main {
  .container-informative {
    height: 192px;

    .card-custom-informative {
      background: #e7eeff;
      border-radius: 20px;
      height: 100%;
      width: 352px;
      padding: 22px;

      .container-eye {
        background: #00af63;
        padding: 10px;
        width: 26px;
        height: 26px;
        border-radius: 100px;
      }

      .title {
        font-size: 1.029em;
      }
      .description-indicator {
        font-size: 1.5em;
      }

      .sub-description-indicator {
        font-size: 0.797em;
        line-height: 0.1;
      }

      .indicator {
        height: 91px;
      }

      .indicator-bar {
        background: #bfd7ff;
        border-radius: 4px;
        width: 19px;
      }

      .container-indicator-bar {
        position: absolute;
        bottom: -16px;
        right: 0;
      }
    }
  }
}
